<div class="container-fluid main-container">
    <div class="row">
        <div class="col pt-3">
            <!-- <div class="page-title">
                <h1>Servicios</h1>
            </div> -->
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard/main">Inicio</a></li>
                    <li class="breadcrumb-item active">Servicios</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="app-panel">
                <div class="row">
                    <div class="col">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a *ngIf="$authService.isAdmin()" class="nav-item nav-link active" id="home-tab"
                                data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"
                                (click)="switchQuery('history')">Históricos</a>
                            <a *ngIf="$authService.isAdmin()" class="nav-item nav-link" id="profile-tab"
                                data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                aria-selected="false" (click)="switchQuery('actives')">Activos</a>
                            <a class="nav-item nav-link" [class.active]="!$authService.isAdmin()" id="approve-tab"
                                data-toggle="tab" href="#approve" role="tab" aria-controls="approve"
                                aria-selected="false" (click)="switchQuery('approve')">Aprobados</a>
                            <a class="nav-item nav-link" id="onroute-tab" data-toggle="tab" href="#onroute" role="tab"
                                aria-controls="onroute" aria-selected="false" (click)="switchQuery('onroute')">En
                                Ruta</a>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">

                    <!-- HISTORY SECTION SERVICES -->
                    <div class="tab-pane fade" [ngClass]="{'show active' : $authService.isAdmin()}" id="home"
                        role="tabpanel" aria-labelledby="home-tab">
                        <div class="row mt-2 mb-3 align-items-center">
                            <div class="col-lg-4">
                                <label for="line">Línea de negocio</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <mat-label>Seleccionar</mat-label>
                                    <mat-select>
                                        <mat-option value="">Todas las líneas</mat-option>
                                        <mat-option value="express">Express</mat-option>
                                        <mat-option value="clean/home" label="Aseo casa">Aseo casa</mat-option>
                                        <mat-option value="clean/office" label="Aseo oficina">Aseo oficina</mat-option>
                                        <mat-option value="maintenance/locative" label="Pintor">Pintor</mat-option>
                                        <mat-option value="maintenance/electrical" label="Eléctrico">Eléctrico
                                        </mat-option>
                                        <mat-option value="maintenance/hidraulic" label="Plomero">Plomero</mat-option>
                                    </mat-select>
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4">
                                <label for="date_component">Fecha de solicitud</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <input matInput [matDatepicker]="picker" type="text"
                                        placeholder="Seleccione una fecha" (click)="picker.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-10 col-sm-10 col-9">
                                <label for="service_id">Id de servicio</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <input matInput tabindex="1" type="text" placeholder="Id de servicio"
                                        autocomplete="off">
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="container-fluid px-0">
                            <div class="row" *ngIf="services.length > 0">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header card-header-primary services-card-header">
                                            <h4 class="card-title ">Servicios</h4>
                                            <p class="card-category">Aqui esta el historial de sus servicios</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class=" text-primary">
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Altura
                                                        </th>
                                                        <th>
                                                            Ancho
                                                        </th>
                                                        <th>
                                                            Largo
                                                        </th>
                                                        <th>
                                                            Fecha
                                                        </th>
                                                        <th>
                                                            Descripción
                                                        </th>
                                                        <th>
                                                            Valor
                                                        </th>
                                                        <th>
                                                            Precio
                                                        </th>
                                                        <th>
                                                            Estado
                                                        </th>
                                                        <th>
                                                            Dir/carga
                                                        </th>
                                                        <th>
                                                            Dir/descarga
                                                        </th>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let service of services; let i = index"
                                                            (click)="editServices(service)" class="services-row">
                                                            <td>
                                                                {{service.merchandise_id}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_height}} m³
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_width}} m³
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_long}} m³
                                                            </td>
                                                            <td>
                                                                {{parseDate(service.merchandise_date) | date: 'dd/MM/yyyy'}}
                                                            </td>
                                                            <td>
                                                                {{subStringCustom(service.merchandise_description, 20)}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_value}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_price}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_status}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_address_carge ? subStringCustom(service.merchandise_address_carge, 20) : '-'}}
                                                            </td>
                                                            <td class="text-primary">
                                                                {{service.merchandise_address_uncarge ? subStringCustom(service.merchandise_address_uncarge, 20) : '-'}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- NO RESULTS -->
                        <div class="row" *ngIf="services.length == 0">
                            <div class="col">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <article class="app-panel app-panel-empty"><img
                                                    src="assets/img/no_results.png" width="380"><br>
                                                <p class="app-panel-empty-message text-center">No tienes
                                                    servicios
                                                    en esta sección...</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- NO RESULTS -->
                    </div>

                    <!-- ACTIVES SECTION SERVICES -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row mt-2 mb-3 align-items-center">
                            <div class="col-lg-4">
                                <label for="line">Línea de negocio</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <mat-label>Seleccionar</mat-label>
                                    <mat-select>
                                        <mat-option value="">Todas las líneas</mat-option>
                                        <mat-option value="express">Express</mat-option>
                                        <mat-option value="clean/home" label="Aseo casa">Aseo casa</mat-option>
                                        <mat-option value="clean/office" label="Aseo oficina">Aseo oficina</mat-option>
                                        <mat-option value="maintenance/locative" label="Pintor">Pintor</mat-option>
                                        <mat-option value="maintenance/electrical" label="Eléctrico">Eléctrico
                                        </mat-option>
                                        <mat-option value="maintenance/hidraulic" label="Plomero">Plomero</mat-option>
                                    </mat-select>
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4">
                                <label for="date_component">Fecha de solicitud</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <input matInput [matDatepicker]="picker2" type="text"
                                        placeholder="Seleccione una fecha" (click)="picker2.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-10 col-sm-10 col-9">
                                <label for="service_id">Id de servicio</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <input matInput tabindex="1" type="text" placeholder="Id de servicio"
                                        autocomplete="off">
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="container-fluid px-0">
                            <div class="row" *ngIf="activeServices.length > 0">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header card-header-primary services-card-header">
                                            <h4 class="card-title ">Servicios</h4>
                                            <p class="card-category">Aqui estan sus servicios activos.</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class=" text-primary">
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Altura
                                                        </th>
                                                        <th>
                                                            Ancho
                                                        </th>
                                                        <th>
                                                            Largo
                                                        </th>
                                                        <th>
                                                            Fecha
                                                        </th>
                                                        <th>
                                                            Descripción
                                                        </th>
                                                        <th>
                                                            Valor
                                                        </th>
                                                        <th>
                                                            Precio
                                                        </th>
                                                        <th>
                                                            Estado
                                                        </th>
                                                        <th>
                                                            Dir/carga
                                                        </th>
                                                        <th>
                                                            Dir/descarga
                                                        </th>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let service of activeServices; let i = index"
                                                            (click)="editServices(service)" class="services-row">
                                                            <td>
                                                                {{service.merchandise_id}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_height}} m³
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_width}} m³
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_long}} m³
                                                            </td>
                                                            <td>
                                                                {{parseDate(service.merchandise_date) | date: 'dd/MM/yyyy'}}
                                                            </td>
                                                            <td>
                                                                {{subStringCustom(service.merchandise_description, 20)}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_value}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_price}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_status}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_address_carge ? subStringCustom(service.merchandise_address_carge, 20) : '-'}}
                                                            </td>
                                                            <td class="text-primary">
                                                                {{service.merchandise_address_uncarge ? subStringCustom(service.merchandise_address_uncarge, 20) : '-'}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- NO RESULTS -->
                        <div class="row" *ngIf="activeServices.length == 0">
                            <div class="col">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <article class="app-panel app-panel-empty"><img
                                                    src="assets/img/no_results.png" width="380"><br>
                                                <p class="app-panel-empty-message text-center">No tienes
                                                    servicios
                                                    en esta sección...</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- NO RESULTS -->
                    </div>

                    <div class="tab-pane fade" [ngClass]="{'show active' : !$authService.isAdmin()}" id="approve"
                        role="tabpanel" aria-labelledby="approve-tab">
                        <div class="row mt-2 mb-3 align-items-center">
                            <div class="col-lg-4">
                                <label for="line">Línea de negocio</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <mat-label>Seleccionar</mat-label>
                                    <mat-select>
                                        <mat-option value="">Todas las líneas</mat-option>
                                        <mat-option value="express">Express</mat-option>
                                        <mat-option value="clean/home" label="Aseo casa">Aseo casa</mat-option>
                                        <mat-option value="clean/office" label="Aseo oficina">Aseo oficina</mat-option>
                                        <mat-option value="maintenance/locative" label="Pintor">Pintor</mat-option>
                                        <mat-option value="maintenance/electrical" label="Eléctrico">Eléctrico
                                        </mat-option>
                                        <mat-option value="maintenance/hidraulic" label="Plomero">Plomero</mat-option>
                                    </mat-select>
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4">
                                <label for="date_component">Fecha de solicitud</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <input matInput [matDatepicker]="picker3" type="text"
                                        placeholder="Seleccione una fecha" (click)="picker3.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-10 col-sm-10 col-9">
                                <label for="service_id">Id de servicio</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <input matInput tabindex="1" type="text" placeholder="Id de servicio"
                                        autocomplete="off">
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- APPROVE SECTION SERVICES -->
                        <div class="container-fluid px-0">
                            <div class="row" *ngIf="approveServices.length > 0">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header card-header-primary services-card-header">
                                            <h4 class="card-title ">Servicios</h4>
                                            <p class="card-category">Aqui estan sus servicios aprobados.</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class=" text-primary">
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Altura
                                                        </th>
                                                        <th>
                                                            Ancho
                                                        </th>
                                                        <th>
                                                            Largo
                                                        </th>
                                                        <th>
                                                            Fecha
                                                        </th>
                                                        <th>
                                                            Descripción
                                                        </th>
                                                        <th>
                                                            Valor
                                                        </th>
                                                        <th>
                                                            Precio
                                                        </th>
                                                        <th>
                                                            Estado
                                                        </th>
                                                        <th>
                                                            Dir/carga
                                                        </th>
                                                        <th>
                                                            Dir/descarga
                                                        </th>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let service of approveServices; let i = index"
                                                            (click)="editServices(service)" class="services-row">
                                                            <td>
                                                                {{service.merchandise_id}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_height}} m³
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_width}} m³
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_long}} m³
                                                            </td>
                                                            <td>
                                                                {{parseDate(service.merchandise_date) | date: 'dd/MM/yyyy'}}
                                                            </td>
                                                            <td>
                                                                {{subStringCustom(service.merchandise_description, 20)}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_value}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_price}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_status}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_address_carge ? subStringCustom(service.merchandise_address_carge, 20) : '-'}}
                                                            </td>
                                                            <td class="text-primary">
                                                                {{service.merchandise_address_uncarge ? subStringCustom(service.merchandise_address_uncarge, 20) : '-'}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- NO RESULTS -->
                        <div class="row" *ngIf="approveServices.length == 0">
                            <div class="col">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <article class="app-panel app-panel-empty"><img
                                                    src="assets/img/no_results.png" width="380"><br>
                                                <p class="app-panel-empty-message text-center">No tienes
                                                    servicios
                                                    en esta sección...</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- NO RESULTS -->
                    </div>

                    <!-- ON ROUTE SECTION SERVICES -->

                    <div class="tab-pane fade" id="onroute" role="tabpanel" aria-labelledby="onroute-tab">
                        <div class="row mt-2 mb-3 align-items-center">
                            <div class="col-lg-4">
                                <label for="line">Línea de negocio</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <mat-label>Seleccionar</mat-label>
                                    <mat-select>
                                        <mat-option value="">Todas las líneas</mat-option>
                                        <mat-option value="express">Express</mat-option>
                                        <mat-option value="clean/home" label="Aseo casa">Aseo casa</mat-option>
                                        <mat-option value="clean/office" label="Aseo oficina">Aseo oficina</mat-option>
                                        <mat-option value="maintenance/locative" label="Pintor">Pintor</mat-option>
                                        <mat-option value="maintenance/electrical" label="Eléctrico">Eléctrico
                                        </mat-option>
                                        <mat-option value="maintenance/hidraulic" label="Plomero">Plomero</mat-option>
                                    </mat-select>
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4">
                                <label for="date_component">Fecha de solicitud</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <input matInput [matDatepicker]="picker4" type="text"
                                        placeholder="Seleccione una fecha" (click)="picker4.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-10 col-sm-10 col-9">
                                <label for="service_id">Id de servicio</label>
                                <mat-form-field floatLabel="never" class="service-inputMaterial-none">
                                    <input matInput tabindex="1" type="text" placeholder="Id de servicio"
                                        autocomplete="off">
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- ON ROUTE SECTION SERVICES -->
                        <div class="container-fluid px-0">
                            <div class="row" *ngIf="onRouteServices.length > 0">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header card-header-primary services-card-header">
                                            <h4 class="card-title ">Servicios</h4>
                                            <p class="card-category">Aqui estan sus servicios en ruta.</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class=" text-primary">
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Altura
                                                        </th>
                                                        <th>
                                                            Ancho
                                                        </th>
                                                        <th>
                                                            Largo
                                                        </th>
                                                        <th>
                                                            Fecha
                                                        </th>
                                                        <th>
                                                            Descripción
                                                        </th>
                                                        <th>
                                                            Valor
                                                        </th>
                                                        <th>
                                                            Precio
                                                        </th>
                                                        <th>
                                                            Estado
                                                        </th>
                                                        <th>
                                                            Dir/carga
                                                        </th>
                                                        <th>
                                                            Dir/descarga
                                                        </th>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let service of onRouteServices; let i = index"
                                                            (click)="editServices(service)" class="services-row">
                                                            <td>
                                                                {{service.merchandise_id}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_height}} m³
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_width}} m³
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_long}} m³
                                                            </td>
                                                            <td>
                                                                {{parseDate(service.merchandise_date) | date: 'dd/MM/yyyy'}}
                                                            </td>
                                                            <td>
                                                                {{subStringCustom(service.merchandise_description, 20)}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_value}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_price}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_status}}
                                                            </td>
                                                            <td>
                                                                {{service.merchandise_address_carge ? subStringCustom(service.merchandise_address_carge, 20) : '-'}}
                                                            </td>
                                                            <td class="text-primary">
                                                                {{service.merchandise_address_uncarge ? subStringCustom(service.merchandise_address_uncarge, 20) : '-'}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- NO RESULTS -->
                        <div class="row" *ngIf="onRouteServices.length == 0">
                            <div class="col">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <article class="app-panel app-panel-empty"><img
                                                    src="assets/img/no_results.png" width="380"><br>
                                                <p class="app-panel-empty-message text-center">No tienes
                                                    servicios
                                                    en esta sección...</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- NO RESULTS -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-edit-services *ngIf="editService" (closePopup)="closeEditService($event)" [servicesData]="dataService">

</app-edit-services>