<div class="carousel-container">
    <div class="carousel-items active">
        <div>
            <img class="img-fluid" src="https://assets.quick.com.co/images/pictures/zoning.jpg" alt="zonificación">
        </div>
        <div>
            <h2>Control de entregas</h2>
            <p>Gestionarás con éxito tus entregas, ya que tendrás en tiempo real KPI´s e información de novedades con
                evidencias fotográficas y digitales.</p>
        </div>
    </div>
    <div class="carousel-items">
        <div>
            <img class="img-fluid" src="https://assets.quick.com.co/images/pictures/zoning.jpg" alt="zonificación">
        </div>
        <div>
            <h2>Control de entregas</h2>
            <p>Gestionarás con éxito tus entregas, ya que tendrás en tiempo real KPI´s e información de novedades con
                evidencias fotográficas y digitales.</p>
        </div>
    </div>
    <div class="carousel-items">
        <div>
            <img class="img-fluid" src="https://assets.quick.com.co/images/pictures/zoning.jpg" alt="zonificación">
        </div>
        <div>
            <h2>Control de entregas</h2>
            <p>Gestionarás con éxito tus entregas, ya que tendrás en tiempo real KPI´s e información de novedades con
                evidencias fotográficas y digitales.</p>
        </div>
    </div>
</div>