<div class="navbar">
    <a href="#" class="navbar-icon">
        <h1>
            TRACKING <span class="navbar-icon-decription">app</span>
        </h1>
    </a>
    <ul class="navbar-list">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Quienes somos</a></li>
        <li><a href="#">Cargo</a></li>
        <li><a href="#">Distribución</a></li>
        <li><a href="#">Express</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

</div>
