<app-navbar (valueStep)="getValueStep($event)" [statusButton]="valueBStepPostive"
    (statusLogin)="getSattusLogin($event)"></app-navbar>
<div class="platform-progress-bar">
    <span class="platform-progress" [style.width.%]="widthPercent"></span>
</div>
<div class="platform-main">
    <app-select-vehicle (data)="vehicleData($event)" (stepValue)="stepsValue($event)"
        [backStepValue]="valueBStepNegative"></app-select-vehicle>
</div>
<app-sidebar-service [data]="data"></app-sidebar-service>
<app-login *ngIf="login && !$authService.isLogged()" (closeLogin)="closeLogin($event)"></app-login>