<app-navbar></app-navbar>
<app-main-banner></app-main-banner>
<app-select-transport></app-select-transport>
<app-carousel-slider></app-carousel-slider>
<div class="banner-contact">
    <h1 class="banner-contact-title">¿Estás listo?</h1>
    <p class="banner-contact-text">
        Expertos en logística estaremos listos para brindarte una asesoría personalizada y solucionar todos tus
        requerimientos.
    </p>
    <a class="banner-btn banner-btn-dark banner-btn-lg banner-rounded-pill" href="#">CONTÁCTANOS</a>
</div>
<div class="banner-joinus">
    <img class="banner-img-fluid" src="https://assets.quick.com.co/images/pictures/join_up.jpg" alt="únete">
    <div class="banner-joinus-content">
        <h1 class="banner-joinus-title">SÉ UN TRACKING APP</h1>
        <p class="banner-joinus-text">Únete y ayúdanos a transformar la logística en Latinoamérica, haciéndola fácil y
            eficiente.</p>
    </div>
    <div>
        <a class="banner-btn banner-btn-dark banner-btn-lg banner-rounded-pill" href="#">SÉ PARTE DE NUESTRO TEAM</a>
    </div>
</div>
<app-footer></app-footer>