<div class="banner-container">
    <div class="banner-description">
        <span>
            ¿Qué vas a
        </span>
        <span>
            {{task}}
        </span>
        <span>
            Hoy?
        </span>
        <br>
        <a class="banner-btn banner-btn-dark banner-btn-lg banner-rounded-pill" (click)="goToPlatform()">Pídete un tracking app
        </a>
    </div>
    <div>
        <img src="https://assets.quick.com.co/images/icons/icon-card-supply.svg?hash=djghjksdhghfl" width="500" alt="">
    </div>
</div>