<div class="summary app-scrollbars false" id="summary"><label class="summary-open btn-effect"
        for="summary-toggle-check"><i class="fal fa-list"></i></label>
    <div class="summary-content"><label class="summary-close btn-effect" for="summary-toggle-check">×</label>
        <div class="summary-title"><span>Resumen de servicio</span></div>
        <div class="summary-boxes">
            <div class="summary-box"><i class="fal fa-truck-moving"></i><span class="summary-box-text">{{data.name}}</span></div>
            <div class="summary-box"><i class="fal fa-road"></i><span class="summary-box-text">0 Km</span></div>
            <div class="summary-box"><i class="fal fa-clock"></i><span class="summary-box-text">0 Min</span></div>
        </div>
        <div class="summary-rows">
            <div class="summary-row"><i class="fal fa-dolly summary-row-icon"></i><span
                    class="summary-row-key">Servicio:</span><span class="summary-row-value">Carga nacional</span></div>
            <div class="summary-row"><i class="fal fa-weight-hanging summary-row-icon"></i><span
                    class="summary-row-key">Peso:</span><span class="summary-row-value">{{data.weight}}</span></div>
            <div class="summary-row"><i class="fal fa-arrows-alt-v summary-row-icon"></i><span
                    class="summary-row-key">Alto:</span><span class="summary-row-value"></span></div>
            <div class="summary-row"><i class="fal fa-arrows-alt-h summary-row-icon"></i><span
                    class="summary-row-key">Ancho:</span><span class="summary-row-value"></span></div>
            <div class="summary-row"><i class="fal fa-exchange-alt summary-row-icon"></i><span
                    class="summary-row-key">Largo:</span><span class="summary-row-value"></span></div>
            <div class="summary-row expandable false"><i class="fal fa-map-marked-alt summary-row-icon"></i><span
                    class="summary-row-key">Direcciones:</span><span class="summary-row-value">0</span>
                <div class="summary-row-subitems">
                    <ul>
                        <li>Sin direcciones asignadas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>