<div class="transport-banner">
    <p class="transport-title">
        selecciona el tipo de <strong>Transporte</strong>
    </p>
    <div class="transport-list-cards">
        <a class="transport-card" href="#"><img
                src="https://assets.quick.com.co/images/icons/icon-card-supply.svg?hash=djghjksdhghfl" width="96"
                alt="">
            <div class="transport-card-title"> Distribution</div><strong>Logística de <br>Primera Milla</strong>
            <p class="transport-card-text">Transportamos tus productos desde centros de distribución hacia canales de
                venta.
            </p>
        </a>
        <a class="transport-card" href="/cargo"><img
                src="https://assets.quick.com.co/images/icons/icon-card-cargo.svg?hash=djghjksdhghfl" width="96" alt="">
            <div class="transport-card-title">Cargo</div><strong>Transporte de <br>Larga Distancia</strong>
            <p class="transport-card-text">Movilizamos tus mercancías desde puertos o ciudades usando vehículos de carga
                pesada.</p>
        </a>
    </div>
</div>