<div class="signup">
    <div class="" id="page-loading">
        <div class="loader-container"><i class="fas fa-circle-notch loading-icon init"></i><small
                class="text-muted font-size-15 d-block mt-1">Cargando...</small></div>
    </div>
    <div class="container" *ngIf="!natural && !juridical">
        <div style="height:100vh;">
            <div class="row text-center justify-content-center align-items-center py-4">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8">
                    <form class="AppForm" id="js-validate-code">
                        <header class="AppForm__header">
                            <!-- <a href="/"><img class="AppForm__logo"
                                    src="https://account.quick.com.co/assets/img/logo-quick.svg"
                                    alt="Logo Quick"></a> -->
                            <a href="#" class="navbar-app-icon">
                                <h1>
                                    RF Logistics Beside <span class="navbar-app-icon-decription">You</span>
                                </h1>
                            </a>
                            <span class="text-muted font-size-14 pt-1">Registro</span></header>
                        <section class="AppForm__content">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <p class="text-center font-size-18">¿Cómo deseas Registrarte?</p>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 d-flex flex-column flex-md-row justify-content-around"><a
                                        class="btn btn-secondary my-2" (click)="natural = true">Persona Natural </a><a
                                        class="btn btn-primary my-2 btn-juridic" (click)="juridical = true">Empresa /
                                        Compañia </a>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FORM NATURAL -->
    <div class="container" *ngIf="natural">
        <div style="height:100vh;">
            <div class="row text-center justify-content-center align-items-center py-4">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="AppForm" id="js-signin" [formGroup]="formNatural" (submit)="createUser()">
                        <header class="AppForm__header">
                            <!-- <a href="/"><img class="AppForm__logo"
                                    src="https://account.quick.com.co/assets/img/logo-quick.svg"
                                    alt="Logo Quick"></a> -->
                            <a href="#" class="navbar-app-icon">
                                <h1>
                                    RF Logistics Beside <span class="navbar-app-icon-decription">You</span>
                                </h1>
                            </a>
                            <span class="text-muted font-size-14 pt-1">Registro
                                Personas</span></header>
                        <section class="AppForm__content">
                            <div class="form-group text-center"><small class="text-secondary">¿Tienes Empresa?
                                    Registrate <a (click)="changeForm()">Aquí </a></small>
                                <hr>
                            </div>
                            <!-- <div class="form-group"><label for="name">Nombres</label><input class="form-control"
                                    type="text" placeholder="Tus Nombres" name="name" data-toggle="tooltip"
                                    data-placement="bottom" title="Nombres completos" required="" id="name"
                                    formControlName="name"></div> -->
                            <div class="col-12">
                                <label for="name">Nombres:</label>
                                <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                    <input matInput formControlName="name" type="text" maxlength="100"
                                        placeholder="Tus Nombres:">
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- <div class="form-group"><label form="lastName">Apellidos</label><input class="form-control"
                                        type="text" placeholder="Tus Apellidos" data-toggle="tooltip"
                                        data-placement="bottom" title="Apellidos completos" required="" id="lastName"
                                        formControlName="last_name"></div> -->
                            <div class="col-12">
                                <label for="lastName">Apellidos</label>
                                <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                    <input matInput formControlName="last_name" type="text" maxlength="100"
                                        placeholder="Tus Apellidos">
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <!-- <div class="form-group"><label for="typeNumber">Tipo:</label><select
                                                class="form-control" id="typeNumber" name="typenumber" required=""
                                                formControlName="type_document">
                                                <option value="" disabled="" selected="">Seleccionar</option>
                                                <option value="CC">CC</option>
                                                <option value="CE">CE</option>
                                                <option value="PAS">PAS</option>
                                            </select></div> -->
                                        <label for="typeNumber">Tipo:</label>
                                        <mat-form-field floatLabel="never">
                                            <mat-label>Seleccionar</mat-label>
                                            <mat-select formControlName="type_document">
                                                <mat-option value="CC">CC</mat-option>
                                                <mat-option value="CE">CE</mat-option>
                                                <mat-option value="PAS">PAS</mat-option>
                                            </mat-select>
                                            <mat-error>Campo obligatorio</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-4 col-sm-8 col-md-8 col-lg-8">
                                        <!-- <div class="form-group"><label for="idNumber">Número de Documento:</label><input
                                                class="form-control" type="number" name="idnumber" min="0"
                                                placeholder="Número Documento" required="" id="idNumber"
                                                formControlName="nit"></div> -->
                                        <label for="idNumber">Número de Documento:</label>
                                        <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                            <input matInput formControlName="nit" type="number" maxlength="100"
                                                placeholder="Número Documento">
                                            <mat-error
                                                *ngIf="formNatural.controls['nit'].errors?.required || formNatural.controls['nit'].errors?.touched">
                                                Campo obligatorio</mat-error>
                                            <mat-error *ngIf="formNatural.controls['nit'].errors?.pattern">Campo solo
                                                admite numeros
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="form-group"><label for="email">Email:</label><input class="form-control"
                                    type="email" name="email" placeholder="Email" autocomplete="email" required=""
                                    id="email" formControlName="email"></div> -->
                            <div class="col-12">
                                <label for="email">Email</label>
                                <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                    <input matInput formControlName="email" type="text" maxlength="100"
                                        placeholder="Tu Email">
                                    <mat-error
                                        *ngIf="formNatural.controls['email'].errors?.required || formNatural.controls['email'].errors?.touched">
                                        Campo obligatorio</mat-error>
                                    <mat-error *ngIf="formNatural.controls['email'].errors?.email">Campo solo admite
                                        correos
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- <div class="form-group"><label for="phone">Celular:</label><input class="form-control"
                                    type="number" name="phone" placeholder="Celular" required="" id="phone"
                                    formControlName="phone_number"></div> -->
                            <div class="col-12">
                                <label for="phone">Celular</label>
                                <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                    <input matInput formControlName="phone_number" type="number" maxlength="100"
                                        placeholder="Ej: 3215678367">
                                    <mat-error
                                        *ngIf="formNatural.controls['phone_number'].errors?.required || formNatural.controls['phone_number'].errors?.touched">
                                        Campo obligatorio</mat-error>
                                    <mat-error *ngIf="formNatural.controls['phone_number'].errors?.pattern">Campo solo
                                        admite
                                        correos
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12">
                                <label for="password">Contraseña</label>
                                <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                    <input matInput formControlName="password"
                                        [type]="showPassword ? 'password' : 'text'" maxlength="100"
                                        placeholder="Contraseña">
                                    <button mat-icon-button matSuffix type="button"
                                        (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="showPassword">
                                        <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error>Campo obligatorio</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <!-- <label for="password">Contraseña:</label>
                                <div class="input-group mb-3"><input class="form-control" type="password"
                                        name="password" placeholder="Contraseña" aria-describedby="passwordHelp"
                                        autocomplete="new-password" required="" id="password"
                                        formControlName="password">
                                    <div class="input-group-append"><span class="input-group-text bg-light"
                                            id="password-view"><i class="fal fa-eye"></i></span></div>
                                </div> -->
                                <small class="form-text text-muted font-size-12" id="passwordHelp">La contraseña
                                    debe contener entre 8-20 caracteres, letras minúsculas, mayúsculas y números, no
                                    debe llevar espacios ni caracteres especiales.</small>
                            </div>
                            <div class="form-group">
                                <div class="form-check"><input class="form-check-input" type="checkbox" required=""
                                        id="terms" formControlName="terms_and_conditions"
                                        style="bottom: 0 !important"><label class="form-check-label" for="terms">Acepto
                                        los <a target="_blank" rel="nofollow">Términos
                                            y condiciones</a></label></div>
                            </div>
                            <hr>
                            <div class="form-group text-center"><label class="d-none" id="js-message-status">Algunos
                                    campos estan repetidos intenta de nuevo</label></div>
                            <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                                    id="js-btn-submit">Enviar <i class="fal fa-circle-notch ml-2"
                                        *ngIf="spinner"></i></button>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // -->

    <!-- FORM JURIDICAL -->
    <div class="container" *ngIf="juridical">
        <div style="height:100vh;">
            <div class="row text-center justify-content-center align-items-center py-4">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                    <form class="AppForm" id="companies" [formGroup]="formJuridical" (submit)="createUser()">
                        <header class="AppForm__header">
                            <!-- <a href="/"><img
                                    src="https://account.quick.com.co/assets/img/logo-quick.svg"
                                    alt="Logo Quick"></a> -->
                            <a href="#" class="navbar-app-icon">
                                <h1>
                                    RF Logistics Beside <span class="navbar-app-icon-decription">You</span>
                                </h1>
                            </a>
                            <span class="text-muted font-size-14 pt-1">Registro
                                Empresas</span></header>
                        <section class="AppForm__content">
                            <div class="row">
                                <div class="col-12 mt-2"><b>Datos de la Empresa:</b>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="companyName">Nombre de la Empresa:</label><input
                                            class="form-control" type="text" required="" placeholder="Compañia"
                                            id="companyName" formControlName="company_name"></div> -->
                                    <label for="companyName">Nombre de la Empresa:</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="company_name" type="text" maxlength="100"
                                            placeholder="Compañia">
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="legalName">Nombre Legal de la
                                            Compañia:</label><input class="form-control" type="text" required=""
                                            placeholder="Nombre Legal" id="legalName"
                                            formControlName="loyal_name_company"></div> -->
                                    <label for="legalName">Nombre Legal de la
                                        Compañia:</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="loyal_name_company" type="text" maxlength="100"
                                            placeholder="Nombre Legal">
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="nit">NIT de la Empresa:</label><input
                                            class="form-control" type="number" name="nit" required="" placeholder="Nit"
                                            id="nit" formControlName="nit"></div> -->
                                    <label for="nit">NIT de la Empresa:</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="nit" type="text" maxlength="100"
                                            placeholder="Nit">
                                        <mat-error
                                            *ngIf="formJuridical.controls['nit'].errors?.required || formJuridical.controls['nit'].errors?.touched">
                                            Campo obligatorio</mat-error>
                                        <mat-error *ngIf="formJuridical.controls['nit'].errors?.pattern">Campo
                                            solo
                                            admite numeros
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="city">Ciudad:</label><select
                                            class="form-control" name="city" id="city" formControlName="cities_id">
                                            <option value="" selected="" disabled="">Seleccionar</option>
                                            <option value="{{citie.cities_id}}" *ngFor="let citie of cities">
                                                {{citie.cities_name}}</option>
                                        </select></div> -->
                                    <label for="city">Ciudad:</label>
                                    <mat-form-field floatLabel="never">
                                        <mat-label>Seleccionar</mat-label>
                                        <mat-select formControlName="cities_id">
                                            <mat-option selected="" disabled="">Seleccionar</mat-option>
                                            <mat-option *ngFor="let citie of cities" [value]="citie.cities_id">
                                                {{citie.cities_name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="address">Dirección:</label><input
                                            class="form-control" type="text" required=""
                                            placeholder="Ej: Av 56 # 76 89 - Piso 2" name="address" id="address"
                                            formControlName="address"></div> -->
                                    <label for="address">Dirección:</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="address" type="text" maxlength="200"
                                            placeholder="Ej: Av 56 # 76 89 - Piso 2">
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="paymentAddress">Dirección de
                                            Pagos:</label><input class="form-control" type="text" required=""
                                            placeholder="Ej: Av 56 # 76 89 - Piso 2" name="paymentAddress"
                                            id="paymentAddress" formControlName="address_payments"></div> -->
                                    <label for="paymentAddress">Dirección de
                                        Pagos:</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="address_payments" type="text" maxlength="200"
                                            placeholder="Ej: Av 56 # 76 89 - Piso 2">
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-2"><b>Datos Personales:</b>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="job">Cargo:</label><input class="form-control"
                                            type="text" required="" placeholder="Ej: Gerente de Ventas" name="job"
                                            id="job" formControlName="position"></div> -->
                                    <label for="job">Cargo:</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="position" type="text" maxlength="100"
                                            placeholder="Ej: Gerente de Ventas">
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="name">Nombres:</label><input
                                            class="form-control" type="text" required="" placeholder="Tus Nombres:"
                                            name="job" id="name" formControlName="name"></div> -->
                                    <label for="name">Nombres:</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="name" type="text" maxlength="100"
                                            placeholder="Tus Nombres:">
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="lastName">Apellidos</label><input
                                            class="form-control" type="text" required="" placeholder="Tus Apellidos"
                                            name="lastName" id="lastName" formControlName="last_name"></div> -->
                                    <label for="lastName">Apellidos</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="last_name" type="text" maxlength="100"
                                            placeholder="Tus Apellidos">
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="email">Email</label><input class="form-control"
                                            type="email" required="" placeholder="Tu Email" name="email"
                                            autocomplete="email" id="email" formControlName="email"></div> -->
                                    <label for="email">Email</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="email" type="text" maxlength="100"
                                            placeholder="Tu Email">
                                        <mat-error
                                            *ngIf="formJuridical.controls['email'].errors?.required || formJuridical.controls['email'].errors?.touched">
                                            Campo obligatorio</mat-error>
                                        <mat-error *ngIf="formJuridical.controls['email'].errors?.email">Campo solo
                                            admite
                                            correos
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="phone">Celular</label><input
                                            class="form-control" type="number" required="" placeholder="Ej: 3215678367"
                                            name="phone" id="phone" formControlName="phone_number"></div> -->
                                    <label for="phone">Celular</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="phone_number" type="number" maxlength="100"
                                            placeholder="Ej: 3215678367">
                                        <mat-error
                                            *ngIf="formJuridical.controls['phone_number'].errors?.required || formJuridical.controls['phone_number'].errors?.touched">
                                            Campo obligatorio</mat-error>
                                        <mat-error *ngIf="formJuridical.controls['phone_number'].errors?.pattern">Campo
                                            solo
                                            admite numeros
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <!-- <div class="form-group"><label for="password">Contraseña</label>
                                        <div class="input-group mb-3"><input class="form-control" type="password"
                                                name="password" required="" placeholder="Contraseña"
                                                autocomplete="new-password" id="password" formControlName="password">
                                            <div class="input-group-append"><span class="input-group-text bg-light"
                                                    id="password-view"><i class="fal fa-eye"></i></span></div>
                                        </div>
                                    </div> -->
                                    <label for="password">Contraseña</label>
                                    <mat-form-field floatLabel="never" class="signup-inputMaterial">
                                        <input matInput formControlName="password"
                                            [type]="showPassword ? 'password' : 'text'" maxlength="100"
                                            placeholder="Contraseña">
                                        <button mat-icon-button matSuffix type="button"
                                            (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="showPassword">
                                            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error>Campo obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-4"><small class="form-text text-muted font-size-12"
                                        id="password-help">La contraseña debe contener entre 8-20 caracteres, letras
                                        minúsculas, mayúsculas y números, no debe llevar espacios ni caracteres
                                        especiales.</small></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-check"><input class="form-check-input" type="checkbox"
                                                required="" id="terms" formControlName="terms_and_conditions"><label
                                                class="form-check-label font-size-14" for="terms">Acepto los </label><a
                                                class="font-size-14" target="_blank" rel="nofollow">
                                                Términos y condiciones</a></div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group text-center"><label class="d-none"
                                            id="js-message-label">Algunos campos estan repetidos intenta de
                                            nuevo</label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 my-0 mx-auto"><button class="btn btn-primary btn-block"
                                        type="submit" id="js-btn-submit">Enviar<i class="fal fa-circle-notch ml-2"
                                            *ngIf="spinner"></i></button></div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // -->
</div>
<app-alerts *ngIf="alert" [typeAlert]="typeAlert" (exit)="getAlertData($event)"></app-alerts>