/* You can add global styles to this file, and also import other style files */
@import "./assets/icons/icons.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1 {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Roboto" !important;
}

h1 {
  font-size: 2em !important;
}

body {
  scroll-behavior: smooth !important;
  background-color: #ffffff !important;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

img {
  vertical-align: middle !important;
  border-style: none !important;
}

button {
  cursor: pointer !important;
  outline: none !important;
}

html,
body {
  height: 100% !important;
}

body {
  margin: 0 !important;
  font-family: "Roboto" !important;
}

.unscroll {
  overflow: hidden;
}